.record {
  list-style: none;
  display: flex;
  color: var(--theme-color-normal);
  justify-content: space-around;
  padding: 5px 0;
  height: 40px;
  align-items: center;
  background-color: white;
  height: auto;
  width: 70%;
  margin: auto;
  max-width: 768px;
  li {
    min-width: 75px;
    text-align: center;
  }
}

.record-calories {
  color: var(--theme-color-dark);
  font-weight: 400;
}
a {
  text-decoration: none;
}
.delete {
  background-color: var(--theme-background-light);
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 5;
}

@media (max-width: 740px) {
  .record {
    width: 90%;

    li {
      font-size: 10px;
      min-width: 40px;
    }
  }
  .record-calories {
    font-size: 16px;
  }

  .delete {
    padding: 2px;
  }
}
